* {
  box-sizing: border-box;
}

.StockSearch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 2rem;
  flex-grow: 2;
  font-family: Inter, sans-serif;
}

.StockSearchInput{
    border-radius: 10rem;
    min-width: 30rem;
    max-width: 50rem;
    height: 2.7rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;;
    font-weight: 600;
}

.StockSearchInput:focus{
    outline-color: #45a049;

}

.StockSearchButton{
    border-radius: 10rem;
    min-width: 20rem;
    max-width: 30rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;;
    font-weight: 600;
    text-align: center;
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000; /* Make sure it's above other content */
  }
  
  .ModalContent {
    animation-name: BodyBackground;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    padding: 2rem;
    border-radius: 4rem;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .ModalBody {
    margin: 10px 0;
  }
  
  .QuantityInput {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5rem; /* Rounded corners for the input */
  }
  
  .ModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1rem;
  }
  
  .CancelButton,
  .ConfirmButton {
    padding: 1;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
  }
  
  .CancelButton {
    background-color: #45a049;
    color: #ffffff;
  }
  
  .ConfirmButton {
    background-color: #45a049;
    color: #ffffff;
  }

  .CancelButton:hover {
    background-color: #3e9143;
    color: #ffffff;
  }
  
  .ConfirmButton:hover {
    background-color: #3e9143;
    color: #ffffff;
  }

  .BuyButton{
    border-radius: 10rem;
  }

  .ViewButton{
    border-radius: 10rem
  }



  

  @keyframes BodyBackground{
    from{
      background-color: rgb(11, 16, 18);
    }
    to{
      background-color: rgb(14, 19, 23);
    }
  }

  .StockLogo{
    margin-right: 0.5rem;
    width: 35px;
    border-radius: 0.5rem;
  }

  .SearchResult{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #45a049;
    border-radius: 3rem;
    padding-top: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 2rem;
    box-shadow: 0px 5px 10px 1px #3e9143;
  }

  .StockPriceText2{
    margin-top: 0.7rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: Inter, sans-serif;
    font-size: 2rem;
  }

  .StockPrice{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;;
    font-weight: 750;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #45a049;
  }

  .BuyViewButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 1vw;
  }

  .CompleteSearchResult{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }

  .SearchResult2{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: column;
    border: 1px solid #45a049;
    border-radius: 3rem;
    padding-top: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 2rem;
    box-shadow: 0px 5px 10px 1px #3e9143;
    text-align: left;
  }

  .SearchResult2 > p{
    margin: 0.25rem;
  }