* {
  box-sizing: border-box;
}

.StockSearch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 2rem;
  flex-grow: 2;
  font-family: Inter, sans-serif;
}

.SearchSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.StockSearchInput{
  outline: none;
    border: none;
    border-radius: 10rem;
    min-width: 20%;
    max-width: 80%;
    height: 2.7rem;
    font-size: 1rem;
    font-family: Inter, sans-serif;;
    font-weight: 600;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    transition: all 0.4s ease-in-out;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.StockSearchInput:focus{
  border: 1px #45a049 solid;
  box-shadow: 0 0 2rem 0.4rem #45a049cb;
}

.StockSearchButton{
    border: 1px #45a049 solid;
    background-color: #45a04900;
    border-radius: 10rem;
    min-width: 10%;
    max-width: 50%;
    height: 3rem;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in-out;
}

.StockSearchButton:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
}

@media (max-width: 600px) {
  .StockSearchInput{
    font-size: 0.8rem;
  }
  .StockSearchButton{
    font-size: 1.3rem;
  }
}

.ToBuyModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000; 
  }
  
  .ModalContent {
    animation-name: BodyBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 2rem;
    border: 1px green solid;
    border-radius: 4rem;
    width: 300px;
    text-align: center;
  }
  
  .ModalBody {
    margin: 10px 0;
  }
  
  .QuantityInput {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5rem; 
  }
  
  .ModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1rem;
  }
  
  .CancelButton,
  .ConfirmButton {
    padding: 1;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
  }
  
  .CancelButton {
    background-color: #45a049;
    color: #ffffff;
  }
  
  .ConfirmButton {
    background-color: #45a049;
    color: #ffffff;
  }

  .CancelButton:hover {
    background-color: #3e9143;
    color: #ffffff;
  }
  
  .ConfirmButton:hover {
    background-color: #3e9143;
    color: #ffffff;
  }

  .BuyButton{
    min-width: 2rem;
    max-width: 7rem;
    border-radius: 10rem;
  }

  .ViewButton{
    min-width: 2rem;
    max-width: 7rem;
    border-radius: 10rem
  }

  .StockNotFound{
    margin-top: 1rem;
  }

  .StockNotFound > h2{
    font-family: Inter, sans-serif;
  }



  


  .StockLogo{
    margin-right: 0.5rem;
    width: 3.5rem;
    border-radius: 1rem;
  }

  .StockPriceText2{
    margin-top: 0.7rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: Inter, sans-serif;
    font-size: 1.8rem;
  }

  .StockPrice{
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    font-family: Inter, sans-serif;;
    font-weight: 750;
    font-size: 2rem;
    color: #45a049;
  }

  .BuyViewButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    gap: 1vw;
  }

  .CompleteSearchResult{
    padding: 1rem;
    margin-top: 2.5rem;
    box-shadow: 0px 0px 10px 1px #3e91444c;
    border-radius: 2rem;
    border: 1px #3e9144 solid;
  }

  .StockHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0 0 2rem;
  }

  .StockHeader > h3{
    margin: 0;
    font-size: 2rem;
  }

  .StockHeader > span{
    margin: 0;
    font-size: 1.8rem;
    background-color: #45a049;
    padding: 0.6rem;
    margin-left: -0.6rem;
    border-radius: 1.5rem;
  }

  .StockBody{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .StockBodyLeft, .StockBodyRight{
    width: 25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .StockBodyLeft > div > h4{
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    width: 15rem;
  }

  .StockBodyLeft > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .StockBodyLeft > div > p{
    font-weight: 300;
    font-family: Inter, sans-serif;
  }

  .StockBodyLeft > div > div > p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    font-family: Inter, sans-serif;
  }

  .lhTitles{
    display: flex;
    justify-content: center;
    gap: 60%;
  }

  .StockDailyAveragePoint > span{
    background: #45a049;
    border-radius: 5rem;
    content: "";
    display: block;
    height: 1.5rem;
    width: 0.5rem;
    position: relative;
  }

  .StockDailyAveragePoint{
    width: 100%;
  }

  .StockFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0 0.5rem 0;
  }

  .StockFooter > button{
    background-color: #00000000;
    color: white;
    outline: none;
    border-radius: 5rem;
    border: 1px #45a049 solid;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    width: 15rem;
    transition: all 0.5s ease-in-out;
  }

  .StockFooter > button:hover{
    border: 1px #45a049 solid;
    background-color: #45a0497f;
    box-shadow: 0px 0px 10px 1px #3e91444c;
  }