.login-container {
    position: relative;
    top: 4rem;
    width: 23rem;
    margin: 0 auto;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid #45a049;
    border-radius: 2rem;
  }

  .login-container.error {
    animation-name: LoginError;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Inter, sans-serif;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #4e91d8;
    text-decoration: none;
  }

  .UsernameInput{
    border-radius: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
  }

  .UsernameInput:focus{
    outline-color: #45a049;
  }

  .PasswordInput{
    height: 2.5rem;
    border-radius: 10rem;
    font-size: 0.9rem;
    border: none;
  }

  .PasswordInput:focus{
    outline-color: #45a049;
  }
  
  .SubmitButton{
    border-radius: 10rem;
    width: 12rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;

  }

  .ErrorType{
    color: #bb1515;
  }

  .SrOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  @keyframes LoginError {
    0%{
      border: 1px solid #bb1515;
      transform: translateX(-5px);
      
    }
    50%{
      border: 1px solid #bb1515;
      transform: translateX(10px);
    }
    100%{
      border: 1px solid #bb1515;
      transform: translateX(-5px);
    }
  }